/*
    This configuration file is not used by server or client code!
    It is used when parsing the webpack.xxx.babel.js files.
    It is also used by other command line tools (jest, ...)
*/

{
    presets: [
        ["@babel/preset-env", {
            targets: {
                node: "current"
            }
        }],
        "@babel/preset-react"
    ]
}
