<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your Node.js application, please visit
  http://go.microsoft.com/fwlink/?LinkId=290972
  -->
<configuration>
  <appSettings>
    <!--
    <add key="StorageAccountName" value="" />
    <add key="StorageAccountKey" value="" />
    <add key="ServiceBusNamespace" value="" />
    <add key="ServiceBusIssuerName" value="" />
    <add key="ServiceBusIssuerSecretKey" value="" />
    -->
  </appSettings>
  <system.webServer>
    <!-- mimeMap enables IIS to serve particular file types as specified by fileExtension. -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>

    <modules runAllManagedModulesForAllRequests="false" />

    <!-- warmup : make sure the URL used is available over HTTP -->
    <applicationInitialization skipManagedModules="true" doAppInitAfterRestart="true">
      <add initializationPage="/ping" />
    </applicationInitialization>

    <!-- indicates that the server.js file is a Node.js application to be handled by the iisnode module -->
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <iisnode loggingEnabled="true" />

    <security>
      <requestFiltering removeServerHeader="true" />
    </security>

    <!-- Keep custom error responses from the app (404, 500, ...) -->
    <httpErrors existingResponse="PassThrough" />

    <!-- Headers -->
    <httpProtocol>
      <customHeaders>
        <remove name="x-powered-by" />
      </customHeaders>
    </httpProtocol>

    <rewrite>
      <rules>
        <clear />

        <!-- Redirect HTTP traffic to HTTPS -->
        <rule name="Redirect to HTTPS">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{REQUEST_URI}" negate="true" pattern="^/ping$" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>

        <!-- Handle static content with IIS -->
<!--
        <rule name="StaticContent">
          <action type="Rewrite" url="dist/public{REQUEST_URI}" />
        </rule>
-->

        <!-- All other URLs are mapped to the Node.js application -->
        <rule name="DynamicContent" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
<!--
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
-->
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
